.title{
background-color:black;
width : 101.2%;
height:150px;
margin-left:-8px;
margin-top:-10px;
}
.title h1{
	color : white;
	margin-left:100px;
	padding-top:50px;
	font-size:40px;
	
}
.title hr{
width: 50px;
border: 3px solid yellow;
margin-left:100px;
margin-top:20px;
}
.image{
width:100%;
height:80%;
background-color:white;
margin-top:30px;
padding:8px;
margin-left:-8px;
}
.first p{
	margin-top: 30px;

}
.first img{
	margin-top: 30px;
	width: 100%;
	height: 400px;
}

.image p{
font-size:18px;
margin-left:70px;
}
.secondd h1{
	font-size: 36px;
	font-weight: 0px;
	margin-left: 80px;
	padding: 20px;
    
}
.technologies{
	width: 100%;
	display: inline-block;
	margin-top: 0px;
	padding: 0px;
	

}

.technologies h3{
	text-align:center;
	padding:20px;
	margin-top: 50px;
	font-size: 19px;
	

}
.left-image{
	width: 100%;
	height: 150px;
	border: 1px solid #fff;
	background:#05b5b5;
}
.left-image img{
	width: 100%;
	height: 150px;
	
}
.right-slide{
	margin-left:-33px;
	width: 100%;
	height: 180px;
	background: gray;
}


.box {
	background-color: #33A8FF;
	height: 310px;
	width: auto;

}
.box img{
	width:100%;
	height : 250px;
}
.btn{
	margin-top: 40px;
	padding: 40px;
}
.representative{
	background-color: #ddc557;

}
.representative h3{
	font-size: 40px;
	font-weight: 400;
}
.representative{
	text-decoration: none;
	border-right: 100px;
	border-color: black;
	border:2px;
	margin-top: -30px;
}
.border-left{
	border-left: 1px solid #6a6e73;
    padding-left: 30px;
}
.simage{
	width: 100%;
	height: auto;
	border-left: 0.5px solid black;
}
.simage img{
	border-radius: 50%;
	width: 180px;
	height: 180px;
	
}
.simage a{
	font-size:30px;
	margin-left:25px;
	margin-top:15px;
}
.fa{
	font-size:50px;
	margin-top: 10px;
}
.scontent{
	margin-left: 130px;
	border-bottom: 0.5px solid black;
}
.scontent hr{
	width: 1200px;
	border: 0.5px solid black;
	margin-left: 100px;
}
.content1{
	margin-top: 30px;
	margin-left: 400px;
}
.simage1{
	width: 100%;
	height: auto;
	margin-left:80px;
	border-left: 0.5px solid black;
}
.simage1 img{
	border-radius: 50%;
	width: 190px;
	height: 180px;
}
.scontent1{
	margin-left: 240px;
	padding-right: 50px;
	border-bottom: 0.5px solid black;
}
.team {
	width: 100%;
	height: auto;
	margin-top: 40px;
	
}
.team hr{
	width: 1200px;
	border: 0.5px solid black;
	margin-left: 100px;
}
.team h2{
	margin-left: 90px;
}