
.title{
background-color:black;
width : 100%;
height:150px;

}
.title h1{
	color : white;
	margin-left:100px;
	padding-top:50px;
	font-size:40px;
	
}
.title hr{
width: 50px;
border: 3px solid yellow;
margin-left:100px;
margin-top:0px;
}
.top-banner{
	width:100%;
	height:200px;
	background: #0d0d0d;
}

.top-banner h1{
	font-size:35px;
	font-weight:500;
	color:#fff;
	padding:25px;
}
.top-banner hr{
	width:100px;
	border:3px solid #fff;
	margin:0px;
	margin-left:30px;
}
.contact{
	width:100%;
	height:auto;
}
.con-left{
	width:100%;
	height:auto;
	display:inline-block;
}
.con-left h2{
	font-size:30px;
	text-align:justify;
	font-weight:400;
}
.con-left hr{
	width:100%;
}
.con-right{
	width:100%;
	height:auto;
	display:inline-block;
}
.con-right h1{
	font-size:30px;
	text-align:justify;
	font-weight:400;
}
.con-right hr{
	width:100%;
}
.office{
	width:100%;
	height:auto;
}
.office h2{
	font-size:20px;
	text-align:justify;
}
.office h1{
	font-size:20px;
	font-weight:bold;
	text-align:justify;
}
.office hr{
	width:100px;
	border:3px solid blue;
	margin:0px;
}
.office p{
	font-size:16px;
	margin-top:10px;
	text-align:justify;
}
.location{
	width:100%;
	height:auto;
}
.location h2{
	text-align:justify;
	font-size:20px;
}
.location p{
	font-size:16px;
	text-align:justify;
}
select{
	width:200px;
	height:30px;
}
.form{
	width:100%;
	background:#ccc;
	padding:25px;
	border-radius:10px;
	margin-bottom:50px;
}
.btn-banner{
	background: #0000b3;
    color: #000;
    border: 0;
	color:#fff;
	width:100%;
	height:35px;
	border-radius:10px;
	margin-top:25px;
}
.map{
	width:100%;
	height:auto;
}
